body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.timer {
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button#startButton {
    align-items: center;
    text-align: center;
    padding: 20px 40px;
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#reStartButton{
    align-items: center;
    text-align: center;
    padding: 20px 40px;
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

button#startButton:hover {
    background-color: #2980b9;
}

.Rank {
    align-items: center;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    position: absolute;
    width: 220px;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
}